@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

:root {
  --yellow: #ebaa00;
  --gray: #242424;
  --white: #ffffff;
}

body {
  background-color: var(--gray);
  font-family: barlow, sans-serif;
}
/* GERAL */
* {
  padding: 0;
  margin: 0;
}
.section-title {
  color: #ebaa00;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: 25px;
  font-weight: bold;
}

/* HEADER */
.header {
  min-height: 14vh;
}

.header ul li a {
  color: white !important;
  font-weight: 700;
}

.header .navbar button {
  background-color: white;
  color: black;
}

#header-icon {
  color: var(--yellow) !important;
  font-size: 30px;
  font-weight: bold;
}
/* /HEADER */

/* PROFILE */
.profile-box img {
  max-width: 400px;
  border-radius: 5%;
}

.profile-box {
  color: lightgray;
  text-align: center;
}

.protile-text {
  margin-top: 3vh;
  padding: 0px 20px;
}

.protile-text p {
  text-align: justify;
}

.tools-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tools-box img {
  border-radius: 10%;
  margin: 15px;
  max-width: 30px;
}

.tools-box i {
  font-size: 30px;
  color: lightgray;
  border-radius: 10%;
  margin: auto 15px;
}
/* /PROFILE */

/* PROJECTS*/
.display-helper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-projects .my-project {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  width: 330px;
  color: var(--gray);
  border-radius: 3%;
  margin: 20px;
  cursor: pointer;
}

.project-img {
  width: 300px !important;
  height: 180px !important;
}

.projects-box {
  color: lightgray;
}

.my-project h4 {
  margin-bottom: 15px;
}

.my-project img {
  width: 100%;
  border-radius: 3%;
}

.project-stacks {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.project-stacks img {
  width: 40px !important;
  height: 40px !important;
  margin: 7px;
  margin-bottom: 20px;
}
/* PROJECTS*/

/* FOOTER */
.my-footer {
  margin-top: 15vh;
  margin-bottom: 2vh;
  text-align: center;
  color: lightgray;
}

.my-footer ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.my-footer ul li {
  margin: auto 10px;
  font-size: 30px;
}

.my-footer ul li a {
  color: lightgray;
}
/* /FOOTER */
